/sesion1/swingTarea/target/
/g1/swingTarea/target/
/g1/ejercico1g1/target/
/g1/ejercico2g1/target/
/WebApplication1/nbproject/private/
/g2/WebApplication1/nbproject/private/
/agenda/nbproject/private/
/g4/wesg4/build/
/g4/wesg4/dist/
/g4/wesg4/nbproject/private/
/g7/wesg6/dist/
/g7/wesg7/nbproject/private/
/g7/wesg7/build/
/Proyecto/wesg7/build/
/Proyecto/wesg7/nbproject/private/
/Proyecto/wesg7/dist/
