/sesion1/swingTarea/target/
/g1/swingTarea/target/
/g1/ejercico1g1/target/
/g1/ejercico2g1/target/
/WebApplication1/nbproject/private/
/g2/WebApplication1/nbproject/private/
/agenda/nbproject/private/
/g4/wesg4/build/
/g4/wesg4/dist/
